/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html{
    font-size : 62.5%;
}

//colors to try
$color-try-1 : #3863ff;



$color-primary-light : #73c5ff;
$color-primary-dark : #40b0ff;

$color-grey-light-1:rgb(247, 247, 247);
$color-grey-light-2 : #eee;

$color-grey-dark : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;

body{
    width : 95%;
    margin : auto;
    margin-top : 2rem;
    background-color : #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-danger{
    color: red;
}
.snackbar-success{
    color: greenyellow;
}


.custom-dialog-container .mat-dialog-container {
    padding : 0 ;
}