.home__container{
    padding : 3rem 3rem;
}


.contacts{
    display: inline-block;
    width : 30%;
    background-color: #fff;
    min-height: 55rem;
    padding : 0 1rem;
    overflow-y: scroll;
    border: 3px solid beige;
    border-top: none;
    border-right: none;

    &__input{
        border-radius: 20px;
        padding : 1rem 1rem;
        border : 1px solid #eee;
        outline: none;
        margin-top: .5rem;
        width: 100%;
        margin-bottom: .5rem;
    }

    &__div{
        border-top: 1px solid #eee;
        padding : 1.5rem 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover{
            background-color: #eee;
        }
    }

    >*{
        width: 100%;
    }
}
.main{
 height : 55rem;
 display: flex;   
}
.messages{
    width : 70%;
    height: 55rem;
}
.message{
   width: 100%;
   height: 80%;

    &__interlocutor{
        width: calc(100% - .5rem);
        background-color: #f0eee6;
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        height: 12%;
        &__name{
            margin-left: .8rem;
        }
        &:hover{
            background-color: #edeadd;
        }

        &__icon{
            width : 2.5rem;
            height: 2.5rem;
            margin-left: auto;
            cursor: pointer;
            fill: #777;
        }
    }

   

}

.profile{
    padding : 0rem 1.5rem;
    padding-left: 0rem;
    &__photo{
        width : 4rem;
        border-radius: 50%;

        &-empty{
            height : 4rem;
            background-color: #eee;
        }
    }
}

.user{
    display: flex;
    flex-direction: column;
    
    &__name{
        margin-bottom: .5rem;
        color : #000;
    }

    &__message,&__time{
        color : rgba(0 , 0  , 0 , .8);
        font-size: 1.3rem;
    }

    &__time{
        margin-left: auto;
    }
}


.last-message-time{
    margin-left: auto;
}


.new__mesage{
    outline: none;
    width : 90%;
    height : 90%;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 1px solid #eee;
    margin-left: 2rem;
}

.comunicate{
    height : 8%;
    width: calc(100% - .5rem);
    background-color: #f0eee6;
    display: flex;
    align-items: center;
    &__icon{
        width : 3.5rem;
        height : 3.5rem;
        cursor: pointer;
        fill: #555;
    }
}

.unread{
    color : black;
    font-weight: 900;
}

.conversations{
    outline: none;
    border: none;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #777;
    cursor: pointer;
    font-size: 1.7rem;
    padding-top : 1rem;
    
}

.removeContactDialog{
    background-color: black;
    z-index: 2;
    position: absolute;
    padding : 1rem 1rem;
    font-size: 1.8rem;
    color : #fff;
    cursor: pointer;
    border-radius: 4px;
}

.no-contacts{
    height: 92%;
}