.home__container{
    padding : 3rem 3rem;
}
.navbar{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding : 1.5rem 0rem;
    border-radius: 4px;
    background-color: #40b0ff;
    &__item{
        padding : 1.5rem 0rem;
        color : #eee;
        cursor: pointer;
        font-size: 1.7rem;
        &:not(:last-child)
        {
            margin-left: 2rem;

        }
        &-logout{
            margin-left: auto ;
            margin-right: 2rem;
        }
        
    }
    &__icon{
        font-size: 2rem;
    }
}

.contacts{
    display: inline-block;
    width : 30%;
    background-color: #fff;
    height: 55rem;
    padding : 0 1rem;

    &__input{
        border-radius: 20px;
        padding : 1rem 1rem;
        border : 1px solid #eee;
        outline: none;
        margin-top: .5rem;
        width: 100%;
        margin-bottom: .5rem;
    }

    &__div{
        border-top: 1px solid #eee;
        padding : 1.5rem 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover{
            background-color: #eee;
        }
    }

    >*{
        width: 100%;
    }
}
.main{
 height : 55rem;
 display: flex;   
}
.messages{
    display: inline-block;
    width : 70%;
    background-color: red;
    height: 55rem;
}

.profile{
    padding : 0rem 1.5rem;
    padding-left: 0rem;
    &__photo{
        width : 4rem;
        border-radius: 50%;
    }
}

.user{
    display: flex;
    flex-direction: column;
    
    &__name{
        margin-bottom: .5rem;
        color : #000;
    }

    &__message,&__time{
        color : rgba(0 , 0  , 0 , .8);
        font-size: 1.3rem;
    }

    &__time{
        margin-left: auto;
    }
}


.last-message-time{
    margin-left: auto;
}