<style>
    ::-webkit-scrollbar {
        width: 1rem;
        border-radius: 10px;
      }
      
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #fff; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(201, 183, 183); 
        border-radius: 4px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
</style>
<div class="home__container">
   <app-navbar></app-navbar>
    <div class="main">
        <div class="contacts">
            <input type="text" class="contacts__input" placeholder="Search in conversations...">
            <div class="contacts__div">
                <div class="profile">
                    <img src="../../../assets/images/user-4.jpg" alt="" class="profile__photo">
                </div>
                <div class="user">
                    <div class="user__name">
                        Mihnea
                    </div>
                    <div class="user__message">
                        Ce faciiiiiiiiiiiiiiiiiiiiiii?
                    </div>
                </div>
                <span class="user__time">
                    12:33
                </span>
            </div>
            <div class="contacts__div">
                <div class="profile">
                    <img src="../../../assets/images/user-4.jpg" alt="" class="profile__photo">
                </div>
                <div class="user">
                    <div class="user__name">
                        Mihnea
                    </div>
                    <div class="user__message">
                        Ce faciiiiiiiiiiiiiiiiiiiiiii?
                    </div>
                </div>
                <span class="user__time">
                    12:33
                </span>
            </div>
            <div class="contacts__div">
                <div class="profile">
                    <img src="../../../assets/images/user-4.jpg" alt="" class="profile__photo">
                </div>
                <div class="user">
                    <div class="user__name">
                        Mihnea
                    </div>
                    <div class="user__message">
                        Ce faciiiiiiiiiiiiiiiiiiiiiii?
                    </div>
                </div>
                <span class="user__time">
                    12:33
                </span>
            </div>
            <div class="contacts__div">
                <div class="profile">
                    <img src="../../../assets/images/user-4.jpg" alt="" class="profile__photo">
                </div>
                <div class="user">
                    <div class="user__name">
                        Mihnea
                    </div>
                    <div class="user__message">
                        Ce faciiiiiiiiiiiiiiiiiiiiiii?
                    </div>
                </div>
                <span class="user__time">
                    12:33
                </span>
            </div>
            <div class="contacts__div">
                <div class="profile">
                    <img src="../../../assets/images/user-4.jpg" alt="" class="profile__photo">
                </div>
                <div class="user">
                    <div class="user__name">
                        Mihnea
                    </div>
                    <div class="user__message">
                        Ce faciiiiiiiiiiiiiiiiiiiiiii?
                    </div>
                </div>
                <span class="user__time">
                    12:33
                </span>
            </div>
            <div class="contacts__div" *ngFor="let userContact of userContacts">
                <img [src]="userContact.profilePhoto" class="profile__photo">
                <div class="profile">
                </div>
                <div class="user">
                    <div class="user__name">
                       {{ userContact.name }}
                    </div>
                    <div class="user__message">
                        Ce faci??????????????
                    </div>
                </div>
                <div class="user__time">
                    {{ userContact.messageTime}}
                </div>
            </div>
        </div>
        <div class="messages">
            <div class="">5</div>
        </div>
    </div>
</div>