<input type="text" class="group__input" placeholder="Search in conversations..."
                    (keyup)="filterGroups(searchConversations.value)" #searchConversations>
<div *ngFor="let group of filteredGroups" class="group" (click)="sendGroupInfo(group)">
    <img *ngIf="group.photo" [src]="group.photo" class="group__info__photo">
    <svg *ngIf="!group.photo" class="group__info__photo group__info__photo-empty">
        <use xlink:href="../../../assets/icons/group.svg#icon-users"></use>
    </svg>
    <div class="group__info">
        <div class="group__info__name">

            {{ group.name }}
        </div>
        <div class="group__info__message">
            {{ group.lastMessage }}
        </div>

    </div>
    <div class="group__info__time">
        {{ group.lastMessageTime | date : 'shortTime' }}
    </div>

</div>