<h1>User registration</h1>
<form [formGroup]="userRegistration" autocomplete="off" #user="ngForm" (submit)="register()">
    <div>
        <label>User Name</label>
        <input formControlName="userName">
        <label class="text-danger" *ngIf="userName.invalid && userName.touched">User Name is required</label>
    </div>
    <div>
        <label>Email</label>
        <input formControlName="email">
        <label *ngIf="email.invalid && email.touched" class="text-danger">Email is required and must be a valid address</label>
    </div>
    <div formGroupName="passwords">
    <div>
        <label>Password</label>
        <input formControlName="password" type="password">
        <label class="text-danger" *ngIf="password.errors?.required && password.touched">Password must have 1 capital letter,1 digit and 1 special character</label>
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword">
        <label class="text-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">Password must have 1 capital letter,1 digit and 1 special character</label>
        <label  class="text-danger" *ngIf="confirmPassword.errors?.passwordMismatch && confirmPassword.touched">This field is different from the Password</label>
    </div>
</div>
    <div>
        <label>Full Name</label>
        <input formControlName="fullName">
    </div>
    <button [disabled]="!userRegistration.valid">Submit</button>
</form>
{{ user.value | json }}
