<div class="register-container">
<div class="register">
    <div class="register__header">
        <span class="register__text">Register to Agitur</span>
        <img src="../../../assets/agitur.png" class="register__logo">
    </div>
    <form [formGroup]="userRegistration" autocomplete="off" #user="ngForm" (submit)="register(user)">
        <div class="register__data">
            <input class="register__input" formControlName="userName" placeholder="User Name">
            <label class="register__label" *ngIf="userName.valid">User Name</label>
            <label class="text-danger" *ngIf="userName.invalid && userName.dirty">User Name is required</label>
        </div>
        <div class="register__data">
            <input class="register__input" formControlName="email" placeholder="Email">
            <label class="register__label" *ngIf="email.valid">Email</label>
            <label *ngIf="email.invalid && email.dirty" class="text-danger">Email is required and must be a valid
                address</label>
        </div>
        <div formGroupName="passwords">
            <div class="register__data">
                <input class="register__input" formControlName="password" type="password" placeholder="Password" pattern="^(?=.{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*?\W).*$">
                <label class="register__label" *ngIf="password.valid">Password</label>
                <label class="text-danger" *ngIf="password.invalid && password.dirty">Password must have 1
                    capital letter,1 digit and 1 special character</label>
            </div>
            <div class="register__data">
                <input class="register__input" type="password" formControlName="confirmPassword"
                    placeholder="Confirm Password">
                <label class="register__label" *ngIf="confirmPassword.valid">Confirm
                    Password</label>
                <label class="text-danger"
                    *ngIf="confirmPassword.errors?.passwordMismatch && confirmPassword.dirty">This field is different
                    from the Password</label>
            </div>
        </div>
        <!-- <div class="register__data">
            <label>Full Name</label>
            <input class="register__input" formControlName="fullName">
        </div> -->
        <!-- <div class="register__data">
            <input class="register__profile" type="file" id="profile" (change)="logPhoto($event)">
            <label for="profile" class="register__profile-label">
                <svg class="register__profile-icon">
                    <use xlink:href="../../../assets/photo.svg#icon-images"></use>
                </svg>
                Profile Photo</label>
        </div> -->
        <button [disabled]="!userRegistration.valid" class="register__submit"
            [class.register__submit--disable]="!userRegistration.valid">Submit</button>
    </form>
</div>
</div>