body{
  display: flex !important;
  align-content: center;
}
.login-form{
  width : 100%;
}

.register {
  width: 40%;
  background-color: #fff;
  border-radius: 4px;
  margin: auto;
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 3rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
  position: relative;
  top : 10rem;
  display: flex;
  justify-content: center;

    &__data {
      margin-bottom: 2rem;
      flex : 0 0 1;

      &-password{
        display: flex;
        justify-content: center;
      }
    }
  
    &__text {
      font-size: 3rem;
      color: #40b0ff;
      font-weight: 900;
      text-transform: uppercase;
    }
  
    &__label {
      font-size: 1.2rem;
      font-weight: 700;
      //margin-left: 2rem;
      margin-top: .7rem;
      display: block;
      color: #777;
      transition: all .3s;
    }
  
  
    &__input {
      padding: 1.5rem 2rem;
      outline: none;
      width : 100%;
      border-radius: 4px;
      border: 1px solid #eee;
      font-size: 2rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: #777;
  
      &:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
      }
    }
  

    &__input:placeholder-shown+&__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  
  
    &__input:placeholder-shown {
      padding: 1.5rem 2rem;
    }
  
    &__submit {
      display: inline-block;
      width : 100%;
      padding: 1.5rem 4.5rem;
      margin-top : 1.5rem;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 4px;
      background-image: linear-gradient(to right , #73c5ff , #40b0ff);;
      font-size: 2rem;
      // width: 40%;
      color: #eee;
      text-transform: uppercase;
      position: relative;
      transition: all .2s;
  
      @media screen and (max-width : 60em) {
        width: 80%;
      }
  
      &--disable {
          opacity: 0;
        }
      &:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
      }
  
  }
  
    &__password{
      font-size: 1.6rem;
      color: #40b0ff;
      cursor: pointer;

    }  
    &__user{
      margin-top: 1.5rem;
      padding : 1rem 0;
      border-top : 1px solid #777;
    }
    
  }
  
  .text-danger {
    color: red;
    font-size: 1.6rem;
    font-weight: 900;
    margin-left: 1rem;
    
  }
  
