.button {
  display: inline-block;
  flex : 0 0 10%;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 1.2rem;
  font-size: 1.3rem;
  background-image: linear-gradient(to right , #73c5ff , #40b0ff);;
  &-login{
      margin-left: 1rem;
  }
}
.buttons{
    display: flex;
    justify-content: flex-end;
    padding : 2rem 2rem;
}