<div class="container" #container [class.large-container]="slide2">
    <div *ngIf="slide1" class="slide">
        <div class="header">
            <label for="groupInput" class="header__label">Group Name</label>
            <input type="text" id="groupInput" class="header__input" required [(ngModel)]="groupName">
            <label for="photo" class="header__label-photo" >Group Photo</label>
            <span *ngIf="groupPhoto" class="header__photo__name">{{groupPhoto.name}}</span>
            <input type="file" accept="image/*"  id="photo" style="display: none;" #photo (change)=uploadPhoto(photo)>
        </div>
        <div class="next">
            <button class="next__button button" (click)="loadNextSlide()">Next</button>
        </div>
    </div>
    <div *ngIf="slide2" class="slide">
        <div class="search">

            <input type="text" class="search-contacts" placeholder="Search contact..." #searchContacts (keyup)="filterContacts(searchContacts.value)">
        </div>
        <div class="dialog__interlocutor" *ngFor="let userContact of filteredContacts">
            <div class="dialog__interlocutor-info">
                <img [src]="userContact.profilePhoto" *ngIf="userContact.profilePhoto"
                    class="dialog__interlocutor-info-photo">
                    <svg *ngIf="!userContact.profilePhoto" class="dialog__interlocutor-info-photo-empty dialog__interlocutor-info-photo">
                        <use  xlink:href="../../../assets/icons/symbol-defs.svg#icon-user"></use>
                    </svg>
                <span class="dialog__interlocutor-info-name">{{ userContact.name }}</span>
            </div>
            <button class="dialog__interlocutor-message" (click)="updateMember(userContact , addButton)" #addButton>Add</button>
        </div>
        <div class="centered__div">
            <button class="button button-create" (click)="createGroup()">Create</button>

        </div>
    </div>
</div>