.navbar{
    width: calc(100% - .5rem);
    display: flex;
    height : 7.5rem;
    justify-items: flex-start;
    align-items: center;
    padding : 1.5rem 0rem;
    border-radius: 4px;
    background-color: #aaa;
    &__item{
        padding : 1.5rem 0rem;
        color : #eee;
        cursor: pointer;
        font-size: 1.7rem;
        &:not(:last-child)
        {
            margin-left: 2rem;

        }
        &-logout{
            margin-left: auto ;
            margin-right: 2rem;
        }

        &-flex{
            display: flex;
            align-items: center;
        }
       
    }
    &__icon{
        font-size: 2rem;
    }
}

.profile-photo{
    width: 3rem;
    border-radius: 50%;
    margin-right: .5rem;

    &-empty{
        height : 3rem;
        background-color: #eee;
    }
}