<div class="navbar">
    <div class="navbar__item navbar__item-flex" (click)="openPhotoDialog()">
       <img *ngIf="photoExists" [src]="profilePhoto.profilePhoto" alt="" class="profile-photo">
      <span>
        Profile
      </span> 
    </div>
    <div class="navbar__item">
        <i class="fa fa-comments icon"></i> Message
    </div>
    <div class="navbar__item">
        <i class="fa fa-users icon"></i> Group
    </div>
    <div class="navbar__item navbar__item-logout" (click)="logOut()">
        <i class="fa fa-sign-out navbar__icon"></i> Logout
    </div>
</div>