<div class="dialog">

    <div class="dialog__close" (click)="closeDialog()">
        <i class="fa fa-times-circle fa-2x"></i>
    </div>
    <span class="dialog__header">
        Find New Friends
    </span>
    <div class="dialog__search">
        <input type="text" class="dialog__input" placeholder="Search by email" tabindex="-1" [(ngModel)]="email" #input>
        <span class="dialog__input-find" (click)="findFriends(input)"><i class="fa fa-search"></i></span>
    </div>
    <div class="dialog__interlocutors">
        <div class="dialog__interlocutor" *ngFor="let interlocutor of interlocutors">
            <div class="dialog__interlocutor-info">
                <img [src]="interlocutor.profilePhoto" *ngIf="interlocutor.profilePhoto"
                    class="dialog__interlocutor-info-photo">
                    <svg *ngIf="!interlocutor.profilePhoto" class="dialog__interlocutor-info-photo-empty dialog__interlocutor-info-photo">
                        <use  xlink:href="../../../assets/icons/symbol-defs.svg#icon-user"></use>
                    </svg>
                <span class="dialog__interlocutor-info-name">{{ interlocutor.user.name }}</span>
            </div>
            <button class="dialog__interlocutor-message">Send Message</button>
        </div>
    </div>
    <div class="dialog__interlocutors-empty" *ngIf="!interlocutorsFound">
        <h3>Nobody found.Try another email!</h3>
    </div>
</div>